*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    background-image: linear-gradient(186deg, #535658 0%, #020202 100%);
    height: 100%;
}
#nav-bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    flex-wrap: wrap;
    height: 3rem;
}
#nav-item{
    list-style-type: none;
    display: inline;
}
li a{
    color: white;
    text-decoration: none;
    padding: 0.95rem;
}
li a:hover{
    background-color: grey
}
#nav-list{
    align-self: center;
    margin-right: 0.5rem;
}
main{
    color: white;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: inherit;
}
.main-header{
    margin-top: 15rem;
    margin-left: 6vw;
}
.main-paragraph{
    text-align: justify;
    margin-left: 6vw;
    margin-right: 10vw;
}
#profile-photo{
    margin-top: 4rem;
    margin-right: 4rem;
    width: 30rem;
    height: 35rem;
}
.projects > h1{
    text-decoration: underline;
    text-align: center;
    color: white
}
.projects{
    margin-top: 2rem
}
#project-photo{
    width: 25rem;
    height: 10rem;
}
.project-tile{
    border: 1px solid #535658;
    padding: 3rem;
    border-radius: 20px;
    background-color: rgb(26, 25, 25);
    box-shadow: black 5px 10px 5px;
    margin-top: 3rem;
    margin-left: 15rem;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project-tile > p {
    margin-top: 4rem;
    margin-left: 3rem
}
.services{
    margin-top: 2rem;
    text-align: center;
}
.hobbies{
    margin-top: 2rem;
    text-align: center;
}
footer{
    margin-top: 2rem;
    border-top: 1px dotted white;
    text-align: center;
}
footer > h4{
    padding: 0.5rem
}